body{
	background-color: rosybrown;
	font-family: sans-serif;
}

.vierkant{
	height: 50px;
	width: 100%;
	background-color: firebrick;
	border-radius: 10px;
}

.vierkant1{
	height: 600px;
	width: 100%;
	border-radius: 10px;
	border-style: solid 3px;
	background-color: bisque;
}

h1{
	color: white;
	text-align: center;
}

.button{
	height: 50px;
	width: 100px;
	border-radius: 10px;
	background-color: brown;
	color: white;
	margin-left: 30px;
    cursor: pointer;
}